
<div class="grid grid-cols-12 ">
  
    <div class="col-span-9">
      <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><img class="h-96" src="/images/img1.avif" alt=""></ng-template>   
    <ng-template carouselSlide><img class="h-96" src="/images/img2.avif" alt=""></ng-template>   
    <ng-template carouselSlide><img class="h-96" src="/images/img3.avif" alt=""></ng-template>   
    <ng-template carouselSlide><img class="h-96" src="/images/img4.avif" alt=""></ng-template>   
    <ng-template carouselSlide><img class="h-96" src="/images/img5.avif" alt=""></ng-template>   
    <ng-template carouselSlide><img class="h-96" src="/images/img6.avif" alt=""></ng-template>   
    <ng-template carouselSlide><img class="h-96" src="/images/img7.avif" alt=""></ng-template>    
  </owl-carousel-o>
</div>

<div class="col-span-3">
        <div>
        <img  class="w-full h-48" src="/images/slider-image-1.jpeg" alt="">
    </div>
    <div>
        <img class="w-full h-48" src="/images/slider-image-2.jpeg" alt="">
    </div>
</div>
</div>
