body{
    background-image: url("/images/light-patten.svg");
}

@layer components{
    .btn-main,
    .active-link
    {
        @apply bg-main-700 hover:bg-main-500 px-5 py-2
 disabled:cursor-not-allowed disabled:bg-light
    transition-colors duration-200  rounded-2xl text-light cursor-pointer
    }
}


@layer components{
    .hover-card{
        @apply hover:shadow-main  rounded-lg duration-500 hover:border-main-600 border-transparent border-2
    }
}
@layer components{
    .main-input{
        @apply block rounded-t-base px-2.5 pb-2.5 pt-5 w-full text-sm text-heading bg-neutral-secondary-medium border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-main-600 
    }
}
@layer components{
    .main-label{
        @apply absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5
    }
}